body {
  margin: 0;
  font-family: "Comfortaa", Verdana, sans-serif;
}

.parallax {
  margin: 0;
  background-image: url("https://papertini.s3.amazonaws.com/home_screen/01_header/+01+PapertiniSite.jpg");
  min-height: 50em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header {
  margin: 0px;
  font-family: "Comfortaa", Verdana, sans-serif;
}

footer {
  margin: 0px;
  background-color: #DA627D;
  font-family: "Comfortaa", Verdana, sans-serif;
  padding: 1.5em;
}

.logo {
  padding-left: 1.5em;
  padding-bottom: 0.3em;
  width: 6.6em;
}

nav {
  margin: 0px;
  background-color: #FFA5AB;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: #450920;
  text-align: center;
  padding: 1em 1.25em;
  text-decoration: none;
  font-size: 1.2em;
}

li a:hover {
  background-color: #FFD0D3;
}

h1 {
  font-family: "Sofia", Georgia, serif;
  font-size: 9em;
  font-weight: bold;
  color: #450920;
  text-align: center;
  padding: 1em;
  margin: 0;
}

h2 {
  font-family: "Comfortaa", Verdana, sans-serif;
  font-weight: bold;
  color: #450920;
  text-align: center;
  padding: 1em;
  margin: 0px;
}

h3 {
  font-family: "Sofia", Georgia, serif;
  text-align: center;
  margin: 0px;
  padding: 1.2em;
  font-size: 30px;
  text-decoration: underline;
}

dl {
  margin: 0px;
  padding-top: 1em;
  padding-left: 6em;
  padding-bottom: 1.2em;
  padding-right: 2em;
}

img {
  margin: 0px;
}

.intro {
  color: #ffffff;
  background-color: #A53860;
  padding: 1.5em 3em;
  text-decoration: none;
  font-size: 1.85em;
  text-align: center;
  margin: 0px;
}

.map, .video {
  background-color: #F9DBBD;
  margin: 0px;
}

.cropped1 {
  margin: 0px;
  padding: 0px;
  height: 550px; 
  object-fit: cover;
  overflow: hidden;
}

.table {
  background-color: #F9DBBD;
  margin: 0px;
}

.meanings th{
  font-size: 20px;
  text-align: center;
}

.meanings td {
  font-size: 18px;
  text-align: center;
  width: 400px;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.growing {
  width: 85%;
  border: 1px solid black;
  border-collapse: collapse;
}

.growing th, .growing td, .growing tr {
  border: 1px solid black;
  border-collapse: collapse;
}

.growing em {
  font-size: 1.2em;
}

.sources {
  color: #ffffff;
  background-color: #A53860;
  margin:  0px;
}

cite {
  display: block;
}



